.header{
    margin: 5px;
}

.header h1{
    color: green; text-align: center;  
}
.header h2{
    font-size: 0.8rem; color: black;
    text-align: center;
}
.header h3{
    font-size: 0.60rem; text-align: right;
    color:green; font: bolder;
}
.header h4{
    font-size: 0.44rem; text-align: right;
    color:black;
}
.header h5{
    font-size: 0.60rem; text-align: left;
    color: green;
}
.header h6{
    font-size: 0.44rem; text-align: left;
    color:black;
}

.header a {
    color: #2563eb;           /* bleu lien */
    text-decoration: underline;
    font-weight: 500;
}

.header a:hover {
    color: rgb(70, 0, 128);           /* violet au survol */
}

.competences{
    float: right;
    text-align: center;
}

.competences-info{
    display: flex;
}

.competences-right{
    width: 50%;
}

.competences-left{
    width: 50%;
}